body {
    background-color: #eeffee;
}

/* recycling grid */
.block-level-grid-container {
    display: grid;
}

.inline-level-grid-container {
    display: inline-grid;
}

.container {
    font-family: sans-serif;
    shape-image-threshold: 10px;

    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    place-content: center;

    padding-left: 50px;
    padding-right: 50px;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;

/*
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 250px 250px;
*/
}

.container img {
    max-width: max(30%, 10px);
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    padding-top: 10px;
}

.cgreen {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}
.cyellow {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}
.cred {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}

.cblue {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}

.info {
    background-color: #ffffff;
    border-style: solid;
    border-radius: 15px;
}

.div2xcon {
    font-family: sans-serif;
    shape-image-threshold: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: center;
    text-align: center;
    place-content: center;
}

.div2xconR {
    font-family: sans-serif;
    shape-image-threshold: 10px;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-content: center;
    text-align: center;
    place-content: center;
}

.d21 {
    flex-basis: 30%;
    width: 30%;
    background-color: green;
    border-radius: 30px;
}

.d22 {
    flex-basis: 70%;
    width: 70%;
    background-color: #eeffee;
}

.d50501 {
    flex-basis: 50%;
    width: 50%;
    background-color: #eeffee;
}

.d50501 img {
    flex-basis: 100%;
    width: 100%;
    background-color: #eeffee;
}
.d50502 img {
    flex-basis: 100%;
    width: 100%;
    background-color: #eeffee;
}

.d50502 {
    flex-basis: 50%;
    width: 50%;
    background-color: #eeffee;
}

@media (max-width: 1000px) {
  .d21 {
    flex: 100%;
    border-radius: 0px;
  }
}

@media (max-width: 1000px) {
  .d22 {
    flex-basis: 100%;
  }
}

@media (max-width: 1000px) {
  .d50501 {
    flex: 100%;
  }
}

@media (max-width: 1000px) {
  .d50502 {
    flex-basis: 100%;
  }
}

@media (max-width: 1000px) {
    .div2xconR {
        flex-direction: column-reverse;
    }

    .d21, .d22 {
        width: 100%;
    }
}


@media (min-width: 1400px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Text */

@font-face {
  font-family: Fredoka;
  src: url("fonts/Fredoka One.ttf")
}

mark {
    border-radius: 10px;
}

h1 {
    font-family: Fredoka;

    text-align: center;
    font-style: normal;

    font-size: 45px;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap
}

h2 {
    font-family: Fredoka;

    text-align: center;
    font-style: normal;

    font-size: 40px;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap
}

h3 {
    font-family: Fredoka;

    text-align: center;
    font-style: normal;

    font-size: 35px;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap

}

h4 {
    font-family: Fredoka;

    text-align: center;
    font-style: normal;

    font-size: 25px;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap

}

p {
    font-family: Fredoka;
    font-weight: 600;

    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap
}

a {
    font-family: Fredoka;
    font-weight: 600;
    font-size: 25px;

    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;

    transition: font-size 0.5s;
}

  a:hover {
      font-size: 32px;
  }


@media (max-width: 600px) {
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 600px) {
    h2 {
        font-size: 35px;
    }
}

@media (max-width: 600px) {
    h3 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    h4 {
        font-size: 20px;
    }
}



/* Other Items */

.centeredicon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: min(75%, 450px);
}

.centerediconS {
    display: block;
    margin: auto;
    width: min(75%, 350px);
}
